.homepage-desktop {
    background-color: #0b0b0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage-desktop .overlap-group-wrapper {
    background-color: #0b0b0b;
    height: 1024px;
    width: 1440px;
  }
  
  .homepage-desktop .overlap-group {
    background-image: url(./image-44.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
  }
  
  .homepage-desktop .articles {
    background-color: #00000040;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #000000;
    height: 110px;
    left: 733px;
    position: absolute;
    top: 378px;
    width: 332px;
  }
  
  .homepage-desktop .text-wrapper {
    color: #ffffff;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 23px;
    left: 109px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    text-shadow: 15px 15px 15px #00000040;
    top: 42px;
    white-space: nowrap;
    width: 115px;
  }
  
  .homepage-desktop .courses {
    background-color: #00000040;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #000000;
    height: 110px;
    left: 358px;
    position: absolute;
    top: 585px;
    width: 332px;
  }
  
  .homepage-desktop .div {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 23px;
    left: 108px;
    letter-spacing: -0.32px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    text-shadow: 15px 15px 15px #00000040;
    top: 42px;
    white-space: nowrap;
    width: 115px;
  }
  
  .homepage-desktop .quizzes {
    background-color: #00000040;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #000000;
    height: 110px;
    left: 734px;
    position: absolute;
    top: 585px;
    width: 332px;
  }
  
  .homepage-desktop .e-books {
    background-color: #00000040;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #000000;
    height: 110px;
    left: 358px;
    position: absolute;
    top: 378px;
    width: 332px;
  }
  
  .homepage-desktop .text-wrapper-2 {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 23px;
    left: 109px;
    letter-spacing: -0.32px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    text-shadow: 15px 15px 15px #00000040;
    top: 42px;
    white-space: nowrap;
    width: 115px;
  }
  
  .homepage-desktop .text-wrapper-3 {
    color: #ffffffcc;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 35px;
    left: 556px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 155px;
    width: 268px;
  }
  
  .homepage-desktop .frame {
    height: 32px;
    left: 261px;
    position: absolute;
    top: 159px;
    width: 41px;
  }
  
  .homepage-desktop .arrow-icon {
    height: 24px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 15px;
  }
  
  .homepage-desktop .science-brain-icon {
    height: 62px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 143px;
    width: 72px;
  }
  
  .homepage-desktop .img {
    height: 47px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 261px;
    width: 47px;
  }
  