.homepage-desktop {
    background-color: #0b0b0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage-desktop .overlap-wrapper {
    background-color: #0b0b0b;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .homepage-desktop .overlap {
    height: 1024px;
    left: 83px;
    position: relative;
    top: -72px;
    width: 1458px;
  }
  
  .homepage-desktop .background {
    height: 1024px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .homepage-desktop .overlap-group {
    height: 1024px;
    left: -101px;
    position: relative;
    top: 72px;
  }
  
  .homepage-desktop .ellipse {
    height: 525px;
    left: 0;
    position: absolute;
    top: 0;
    width: 579px;
  }
  
  .homepage-desktop .img {
    height: 488px;
    left: 777px;
    position: absolute;
    top: 536px;
    width: 663px;
  }
  
  .homepage-desktop .ellipse-2 {
    height: 534px;
    left: 980px;
    position: absolute;
    top: 0;
    width: 439px;
  }
  
  .homepage-desktop .ellipse-3 {
    height: 488px;
    left: 39px;
    position: absolute;
    top: 536px;
    width: 659px;
  }
  
  .homepage-desktop .ellipse-4 {
    height: 329px;
    left: 236px;
    position: absolute;
    top: 0;
    width: 476px;
  }
  
  .homepage-desktop .ellipse-5 {
    height: 570px;
    left: 291px;
    position: absolute;
    top: 440px;
    width: 737px;
  }
  
  .homepage-desktop .ellipse-6 {
    height: 208px;
    left: 1059px;
    position: absolute;
    top: 0;
    width: 381px;
  }
  
  .homepage-desktop .rectangle {
    background-color: #000000;
    height: 789px;
    left: 0;
    position: absolute;
    top: 184px;
    width: 1256px;
  }
  
  .homepage-desktop .img-2 {
    height: 47px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 298px;
    width: 47px;
  }
  
  .homepage-desktop .star {
    height: 44px;
    left: 27px;
    position: absolute;
    top: 221px;
    width: 48px;
  }
  
  .homepage-desktop .toggle-false-true {
    height: 43px !important;
    left: 974px !important;
    position: absolute !important;
    top: 368px !important;
    width: 57px !important;
  }
  
  .homepage-desktop .text-wrapper {
    color: #c01b1b;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 24px;
    left: 196px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    top: 541px;
    white-space: nowrap;
    width: 200px;
  }
  
  .homepage-desktop .div {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 196px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    top: 583px;
    white-space: nowrap;
    width: 104px;
  }
  
  .homepage-desktop .p {
    color: #ffffffb2;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 112px;
    left: 196px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    top: 414px;
    width: 321px;
  }
  
  .homepage-desktop .text-wrapper-2 {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 50px;
    left: 177px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 351px;
    width: 225px;
  }
  
  .homepage-desktop .text-wrapper-3 {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 30px;
    left: 495px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 225px;
    white-space: nowrap;
    width: 265px;
  }
  
  .homepage-desktop .about {
    height: 255px;
    left: 154px;
    position: absolute;
    top: 677px;
    width: 188px;
  }
  
  .homepage-desktop .text-wrapper-4 {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 33px;
    left: 46px;
    letter-spacing: -0.32px;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 123px;
  }
  
  .homepage-desktop .text-wrapper-5 {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 39px;
    left: 46px;
    letter-spacing: -0.32px;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    white-space: nowrap;
    width: 136px;
  }
  
  .homepage-desktop .text-wrapper-6 {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 33px;
    left: 46px;
    letter-spacing: -0.32px;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: 104px;
    white-space: nowrap;
    width: 105px;
  }
  
  .homepage-desktop .text-wrapper-7 {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 37px;
    left: 46px;
    letter-spacing: -0.32px;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: 152px;
    white-space: nowrap;
    width: 154px;
  }
  
  .homepage-desktop .ai-settings {
    height: 35px;
    left: 1187px;
    position: absolute;
    top: 223px;
    width: 35px;
  }
  