
.homepage-desktop {
    background-color: #0b0b0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
  
 .homepage-desktop .overlap-wrapper {
  background-color: #0b0b0b;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

  
  .homepage-desktop .overlap {
    height: 1024px;
    left: 83px;
    position: relative;
    top: -72px;
    width: 1458px;
  }
  
  .homepage-desktop .background {
    height: 1024px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .homepage-desktop .overlap-group {
    height: 1024px;
    left: -101px;
    position: relative;
    top: 72px;
  }
  
  .homepage-desktop .ellipse {
    height: 525px;
    left: 0;
    position: absolute;
    top: 0;
    width: 579px;
  }
  
  .homepage-desktop .img {
    height: 488px;
    left: 777px;
    position: absolute;
    top: 536px;
    width: 663px;
  }
  
  .homepage-desktop .ellipse-2 {
    height: 534px;
    left: 980px;
    position: absolute;
    top: 0;
    width: 439px;
  }
  
  .homepage-desktop .ellipse-3 {
    height: 488px;
    left: 39px;
    position: absolute;
    top: 536px;
    width: 659px;
  }
  
  .homepage-desktop .ellipse-4 {
    height: 329px;
    left: 236px;
    position: absolute;
    top: 0;
    width: 476px;
  }
  
  .homepage-desktop .ellipse-5 {
    height: 570px;
    left: 291px;
    position: absolute;
    top: 440px;
    width: 737px;
  }
  
  .homepage-desktop .ellipse-6 {
    height: 208px;
    left: 1059px;
    position: absolute;
    top: 0;
    width: 381px;
  }
  
  .homepage-desktop .rectangle {
    background-color: #000000;
    height: 789px;
    left: 0;
    position: absolute;
    top: 184px;
    width: 1256px;
  }
  
  .homepage-desktop .stoicism {
    height: 239px;
    left: 317px;
    position: absolute;
    top: 359px;
    width: 283px;
  }
  
  .homepage-desktop .div-wrapper {
    background-image: url(./image-24.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 306px;
    left: -19px;
    position: relative;
    top: -40px;
    width: 342px;
  }
  
  .homepage-desktop .text-wrapper {
    color: #ffffffcc;
    font-family: "Alegreya Sans SC-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 49px;
    left: 49px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 192px;
    width: 134px;
  }
  
  .homepage-desktop .frame {
    height: 231px;
    left: 599px;
    position: absolute;
    top: 359px;
    width: 333px;
  }
  
  .homepage-desktop .div {
    background-image: url(./image-28.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 306px;
    left: 12px;
    position: relative;
    top: -40px;
    width: 342px;
  }
  
  .homepage-desktop .text-wrapper-2 {
    color: #ffffffcc;
    font-family: "Alegreya Sans SC-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 51px;
    left: 30px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 196px;
    width: 231px;
  }
  
  .homepage-desktop .body-language {
    height: 226px;
    left: 318px;
    position: absolute;
    top: 629px;
    width: 302px;
  }
  
  .homepage-desktop .body-language-wrapper {
    background-image: url(./image-29.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 306px;
    left: -21px;
    position: relative;
    top: -40px;
    width: 342px;
  }
  
  .homepage-desktop .body-language-2 {
    color: #ffffffcc;
    font-family: "Alegreya Sans SC-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 68px;
    left: 62px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    top: 176px;
    width: 180px;
  }
  
  .homepage-desktop .img-2 {
    height: 47px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 298px;
    width: 47px;
  }
  
  .homepage-desktop .philosophy {
    height: 238px;
    left: 654px;
    position: absolute;
    top: 629px;
    width: 278px;
  }
  
  .homepage-desktop .overlap-2 {
    background-image: url(./image-25.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 306px;
    left: -40px;
    position: relative;
    top: -40px;
    width: 342px;
  }
  
  .homepage-desktop .text-wrapper-3 {
    color: #ffffffcc;
    font-family: "Alegreya Sans SC-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 57px;
    left: 52px;
    letter-spacing: -0.32px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 40px #5f5e5e40;
    top: 185px;
    width: 185px;
  }
  
  .homepage-desktop .p {
    color: #ffffff;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 21px;
    left: 335px;
    letter-spacing: -0.32px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 269px;
    width: 570px;
  }
  
  .homepage-desktop .science-brain-icon {
    height: 62px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 208px;
    width: 72px;
  }
  