.starting {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .starting .starting-page {
    background-color: #000000;
    height: 1024px;
    width: 1440px;
  }
  
  .starting .overlap {
    background-image: url(./image-66.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
  }
  
  .starting .group {
    height: 151px;
    left: 94px;
    position: absolute;
    top: 700px;
    width: 963px;
  }
  
  .starting .overlap-group {
    height: 151px;
    position: relative;
    width: 961px;
  }
  
  .starting .rectangle {
    background-color: #111111b2;
    border-radius: 15px;
    filter: blur(30px);
    height: 140px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 961px;
  }
  
  .starting .a-greek-term {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 151px;
    left: 75px;
    letter-spacing: 0;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 867px;
  }
  
  .starting .text-wrapper {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    height: 65px;
    left: 169px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 585px;
    white-space: nowrap;
  }
  
  .starting .div {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 21px;
    left: 98px;
    letter-spacing: -0.32px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 925px;
    white-space: nowrap;
  }
  
  .starting .arrow-icon-wrapper {
    height: 30px;
    left: 1244px;
    position: absolute;
    top: 906px;
    width: 20px;
  }
  
  .starting .arrow-icon {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  