.starting {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .starting .starting-page {
    background-color: #000000;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .starting .overlap {
    height: 1166px;
    left: -137px;
    position: relative;
    top: -97px;
    width: 1606px;
  }
  
  .starting .group {
    height: 151px;
    left: 283px;
    position: absolute;
    top: 797px;
    width: 977px;
  }
  
  .starting .overlap-group {
    height: 151px;
    position: relative;
    width: 975px;
  }
  
  .starting .rectangle {
    background-color: #111111b2;
    border-radius: 15px;
    filter: blur(30px);
    height: 134px;
    left: 0;
    position: absolute;
    top: 17px;
    width: 975px;
  }
  
  .starting .text-wrapper {
    color: #ffffffcc;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 151px;
    left: 23px;
    letter-spacing: 0;
    line-height: 35px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 952px;
  }
  
  .starting .div {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    height: 65px;
    left: 306px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 682px;
    white-space: nowrap;
  }
  
  .starting .text-wrapper-2 {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 21px;
    left: 235px;
    letter-spacing: -0.32px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 1022px;
    white-space: nowrap;
  }
  
  .starting .arrow-icon-wrapper {
    height: 30px;
    left: 1381px;
    position: absolute;
    top: 1003px;
    width: 20px;
  }
  
  .starting .arrow-icon {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .starting .image {
    height: 1166px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1606px;
  }
  
  .starting .overlap-2 {
    height: 1166px;
    position: relative;
  }
  
  .starting .img {
    height: 1024px;
    left: 137px;
    object-fit: cover;
    position: absolute;
    top: 97px;
    width: 1440px;
  }
  
  .starting .rectangle-2 {
    background-color: #0000008c;
    height: 1166px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1606px;
  }
  
  .starting .p {
    color: #ffffffb2;
    font-family: "Hubballi-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 151px;
    left: 23px;
    letter-spacing: -0.32px;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 952px;
  }
  