.starting {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .starting .starting-page {
    background-color: #000000;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .starting .ARET {
    height: 67px;
    left: 615px;
    position: absolute;
    top: 471px;
    width: 209px;
  }
  