.starting {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .starting .starting-page {
    background-color: #000000;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .starting .overlap {
    height: 1072px;
    position: relative;
    top: -7px;
    width: 1478px;
  }
  
  .starting .rectangle {
    height: 1024px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 1440px;
  }
  
  .starting .div {
    background-color: #0000004c;
    height: 1072px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1478px;
  }
  
  .starting .register-button {
    all: unset;
    box-shadow: 0px 3px 15px #000000;
    box-sizing: border-box;
    height: 94px;
    left: 508px;
    opacity: 0.8;
    position: absolute;
    top: 756px;
    width: 424px;
  }
  
  .starting .overlap-group {
    background-color: #111111b2;
    border-radius: 30px;
    box-shadow: 0px 1px 7px #000000;
    height: 92px;
    left: -8px;
    position: relative;
    top: -13px;
    width: 432px;
  }
  
  .starting .text-wrapper {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 45px;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 284px;
  }
  
  .starting .text-wrapper-2 {
    color: #ffffffb2;
    font-family: "Julius Sans One-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 539px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 479px;
    width: 362px;
  }
  
  .starting .ARET {
    height: 67px;
    left: 615px;
    position: absolute;
    top: 365px;
    width: 209px;
  }
  